*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Nunito Sans", sans-serif;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  width: 100%;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

:root {
  --green: #54b192;
  --green-l: #a4cec0;
  --gray: #3f3d56;
  --smooth: all 0.3s ease-in;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 4;
  background-color: rgba(0, 0, 0, 0.4);
  visibility: hidden;
}
#overlay.show {
  visibility: visible;
}

button {
  text-align: center;
  color: #fff;
  background-color: var(--gray);
  padding: 0.8rem 2.5rem;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  transition: var(--smooth);
}
button:hover {
  background-color: var(--green-l);
  transition: var(--smooth);
}

header {
  position: absolute;
  width: 100%;
}
header .container .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
header .container .navbar .navbar__logo img {
  width: 57px;
  height: 57px;
  -o-object-fit: cover;
     object-fit: cover;
}
header .container .navbar .navbar__links {
  position: fixed;
  top: 0;
  left: 0;
  width: 60%;
  height: 100%;
  z-index: 5;
  background-color: var(--gray);
  transition: var(--smooth);
  transform: translateX(-100%);
  opacity: 0;
}
header .container .navbar .navbar__links.navbar__open {
  transform: translateX(0);
  opacity: 1;
  transition: var(--smooth);
}
header .container .navbar .navbar__links .navbar__link {
  list-style: none;
  margin: 55px;
}
header .container .navbar .navbar__links .navbar__link a {
  text-decoration: none;
  color: #fff;
  font-weight: 300;
  transition: var(--smooth);
}
header .container .navbar .navbar__links .navbar__link a:hover {
  color: var(--green);
  transition: var(--smooth);
}
header .container .navbar .navbar__links .navbar__btn {
  font-size: 1rem;
  background-color: var(--green);
  margin-left: 45px;
}
header .container .navbar .navbar__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  cursor: pointer;
  transition: var(--smooth);
  z-index: 6;
}
header .container .navbar .navbar__icons .navbar__icon {
  width: 45px;
  height: 4px;
  background-color: var(--gray);
  transition: var(--smooth);
  position: relative;
}
header .container .navbar .navbar__icons .navbar__icon::before {
  content: "";
  position: absolute;
  width: 45px;
  height: 6px;
  background-color: var(--gray);
  transition: var(--smooth);
  transform: translateY(12px);
}
header .container .navbar .navbar__icons .navbar__icon::after {
  content: "";
  position: absolute;
  width: 46px;
  height: 5px;
  background-color: var(--gray);
  transition: var(--smooth);
  transform: translateY(-12px);
}
header .container .navbar .open .navbar__icon {
  transform: translateX(-50px);
  background: transparent;
}
header .container .navbar .open .navbar__icon::before {
  transform: rotate(45deg) translate(35px, -35px);
}
header .container .navbar .open .navbar__icon::after {
  transform: rotate(-45deg) translate(35px, 35px);
}
@media (min-width: 992px) {
  header .container .navbar .navbar__links {
    position: initial;
    transform: translateX(-20%);
    opacity: 1;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header .container .navbar .navbar__links .navbar__link a {
    color: var(--gray);
  }
  header .container .navbar .navbar__links .navbar__btn {
    background-color: var(--gray);
  }
  header .container .navbar .navbar__icons {
    display: none;
  }
}

#banner {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
}
#banner .container .banner__img {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}
#banner .container .banner__heading {
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
  color: var(--gray);
}
#banner .container .banner__heading h1 {
  font-size: 2.25rem;
  padding-top: 4em;
  margin-bottom: 0.8em;
}
#banner .container .banner__heading p {
  font-weight: 300;
  line-height: 2em;
  margin-bottom: 1.5em;
}
#banner .container .banner__heading .banner__btn {
  font-size: 1rem;
}
#banner .container .banner__heading .banner__socials {
  margin-top: 3em;
  display: flex;
  justify-content: space-evenly;
  font-size: 1.5rem;
}
#banner .container .banner__heading .banner__socials a {
  color: var(--gray);
  transition: var(--smooth);
}
#banner .container .banner__heading .banner__socials a:hover {
  color: var(--green-l);
  transition: var(--smooth);
}
@media (min-width: 992px) {
  #banner .container .banner__img {
    width: 60%;
  }
  #banner .container .banner__heading {
    text-align: initial;
    margin: 0;
    padding-top: 0;
  }
  #banner .container .banner__heading .banner__socials {
    justify-content: flex-start;
  }
  #banner .container .banner__heading .banner__socials a {
    margin-right: 45px;
  }
}

#things {
  position: relative;
  overflow-x: hidden;
  margin-top: 15em;
}
#things .container .things__dec {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-60%);
  z-index: -1;
}
#things .container .things__dec:nth-child(2) {
  top: initial;
  left: initial;
  bottom: 15%;
  right: 0;
  transform: translateX(60%);
  z-index: -1;
}
#things .container h2 {
  text-align: center;
  color: var(--gray);
  margin-bottom: 3em;
}
#things .container .things__item {
  margin: 3em 0;
}
#things .container .things__item img {
  padding-bottom: 4em;
}
#things .container .things__item .things__item--heading {
  text-align: center;
  color: var(--gray);
}
#things .container .things__item .things__item--heading h3 {
  text-align: center;
}
#things .container .things__item .things__item--heading p {
  margin: 0 auto;
  font-weight: 300;
  line-height: 2em;
  max-width: 500px;
  padding-top: 1em;
}
@media (min-width: 992px) {
  #things .container .things__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #things .container .things__item img {
    width: 40%;
    padding-bottom: 0;
  }
  #things .container .things__item .things__item--heading {
    width: 45%;
    text-align: initial;
  }
}

#works {
  padding-top: 10em;
  position: relative;
  color: var(--gray);
}
#works .container .works__dec {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-60%);
  z-index: -1;
}
#works .container .works__dec:nth-child(2) {
  top: initial;
  left: initial;
  bottom: 15%;
  right: 0;
  transform: translateX(60%);
  z-index: -1;
}
#works .container h2 {
  text-align: center;
  color: var(--gray);
}
#works .container .works__img {
  margin: 2em 0;
}
#works .container .works__img .works__img--single:nth-child(odd) {
  padding-top: 5em;
}
#works .container .works__img .works__img--single:nth-child(3) {
  margin-top: -5em;
}
#works .container .works__btn {
  text-align: center;
  margin-top: 8em;
}
#works .container .works__btn button {
  font-size: 1rem;
}
@media (min-width: 992px) {
  #works .container h2 {
    margin-bottom: 3em;
  }
  #works .container .works__img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  #works .container .works__img .works__img--single {
    margin: 0 3em;
    width: 35%;
  }
  #works .container .works__img .works__img--single:nth-child(3) {
    margin-top: 0;
  }
}

footer {
  overflow: hidden;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
}
footer .container .footer__dec {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-45%);
  z-index: -1;
}
footer .container .footer__img {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(25%);
  z-index: -1;
}
footer .container .footer__heading {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  color: var(--gray);
}
footer .container .footer__contact {
  margin-top: 2em;
  display: flex;
  justify-content: space-evenly;
}
footer .container .footer__contact a {
  text-decoration: none;
  color: var(--gray);
}
footer .container .footer__socials {
  margin-top: 3em;
  display: flex;
  justify-content: space-evenly;
  font-size: 1.5rem;
}
footer .container .footer__socials a {
  color: var(--gray);
  transition: var(--smooth);
}
footer .container .footer__socials a:hover {
  color: var(--green-l);
  transition: var(--smooth);
}
@media (min-width: 992px) {
  footer .container .footer__img {
    top: -15%;
    right: 0;
    transform: translateX(32%);
    width: 60%;
  }
  footer .container .footer__heading {
    text-align: initial;
    margin: 0;
  }
  footer .container .footer__contact,
footer .container .footer__socials {
    display: flex;
    justify-content: flex-start;
  }
  footer .container .footer__contact a,
footer .container .footer__socials a {
    padding-right: 60px;
  }
}/*# sourceMappingURL=main.css.map */